.body{
    padding-top: 20px;
    min-height: 1000px;
}

.home-btn{
    place-self: left;
    margin-left: 5%;
    padding-top: 2%;
    margin-bottom: 1%;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 14px !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 10px !important;
}

header{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 36px !important;
    font-weight: 600;
    text-shadow:  0 7px 6px #000;
    text-align: center;
}

.Sign-up-form{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: left;
    font-size: 18px;
}

.Sign-up-form label{
    padding-left: 10px;
    padding-bottom: 15px;
}

.sign-up{
    width: 400px;
}

input[type = 'text'], input[type = 'email'], input[type = 'password']{
    appearance: none;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: #fdfeff;
    width: 400px;
    height: 34px;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 2px #000;
}

input[type = 'text']:focus , input[type = 'email']:focus, input[type = 'password']:focus{
    box-shadow: 2px 2px 5px #108b49;
}
.submit-btn{
    display: flex;
    justify-content: center;
}

.sign-in-btn{
    margin-top: 3%;
    box-shadow: 0 2px #000 !important;
    font-size: 18px !important;
    width: 300px !important;
    height: 30px !important;
    border-radius: 10px !important;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: center;
    gap: 6px;
}

.info p{
    cursor: default;
    font-size: 14px;
    color: #808080;
    text-align: center;
}

.info a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    text-align: center;
}

.info a:hover{
    color: #108b49;
}

.info a:hover{
    color: #14ae5c;
}

.alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 200;
    position: relative;
    margin-left: 150px;
    top: -80px;
    transform: translateX(-50%);
    box-shadow: 0 2px 3px #000;
    place-self: center;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.2s ease-in-out;

}

#remove{
    cursor: pointer;
    font-size: 20px;
}

#remove:hover{
    color: #14ae5c;
}

#remove:focus{
    color: #108b49;
}

.show{
    top: -80px;
    opacity: 1;
}

.hide{
    top: -1000px;
    opacity: 0;
}