
#first-question{
    margin-top: 0;
    border-top: none;
    padding-top: none;
}

#last-question{
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
}

.Question{
    margin-top: 10px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 3px solid #000000;
}

.Question-section{
    display: flex;
    justify-content: space-between;
}

#up, #down{
    cursor: pointer;
}


.hide{
    display: none;
    opacity: 0;
}


.show{
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    opacity: 1;
    transition: opacity 1s  ease-out;
}

header{
    margin-top: 1.5%;
    font-size: 36px !important;
    font-weight: 600;
    text-shadow:  0 7px 6px #000;
    text-align: center;
}

.FAQs-container{
    margin-top: 1.8%;
    border-top: 3px solid #000000;
    width: 70%;
    place-self: center;
}

.answer{
    font-size: 18px;
}

.home-btn{
    place-self: left;
    margin-left: 5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 14px !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 10px !important;
}