.home-btn{
    place-self: left;
    margin-left: 5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 14px !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 10px !important;
}

header{
    margin-top: 1.5%;
    font-size: 36px !important;
    font-weight: 600;
    text-shadow:  0 7px 6px #000;
    text-align: center;
}

