.body{
    padding-top: 0;
}

.header{
    width: 100%;
    max-height: 1000px;
}

.header img{
    width: 100%;
    box-shadow: 0 2px 6px #000;
}

.imgtext{
    height: 10px;
    position: relative;
    top: -110px;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-shadow:  0 8px 3px #000;
    width: 50%;
    margin-left: 4%;
    cursor: default; 
}


.subscribe-btn, .learnmore{
    margin-top: 3%;
    box-shadow: 0 2px #000 !important;
    font-size: 18px !important;
    width: 120px !important;
    height: 30px !important;
    border-radius: 10px !important;
}

.Track-your-energy{
    margin-top: 3%;
    box-shadow: 0 2px #000 !important;
    font-size: 18px !important;
    width: 180px !important;
    height: 30px !important;
    border-radius: 10px !important; 
}

.section1{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 0;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.section1 img{
    border-radius: 15px;
}

.divider{
    border-bottom: 1px solid #1e1e1e;
    box-shadow: 0 1px 1px #000;
}

.textsection{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    cursor: default;
}

.sectionheading{
    font-size: 28px;
    margin-bottom: 2%;
    text-shadow:  0 7px 6px #000;

}

.sectiontext{
    font-size: 18px;
}

.section2{
    margin-top: 0;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.section2 img{
    width: 90%;
    height: 600px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    place-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.textsection2{
    width: 80%;
    text-align: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 1%;
    cursor: default;
}

.sectionheading2{
    font-size: 28px;
    margin-bottom: 2%;
    text-shadow:  0 7px 6px #000;
}

.sectiontext2{
    font-size: 18px;
}

.right{
    text-align: right;
}

