
.error img{
    margin-top: 100px;
    width: 600px; 
    border-radius: 20px;
    box-shadow: 4px 4px 2px #000;

}

.error{
    display: flex;
    justify-content:center;
    align-items: center;
}

.home-btn{
    place-self: center;
    margin-top: 20px;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 20px !important;
    width: 150px !important;
    height: 60px !important;
    border-radius: 10px !important;
}