.body{
    padding-top: 200px !important;
}
.home-btn{
    place-self: left;
    margin-left: 5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 14px !important;
    width: 100px !important;
    height: 40px !important;
    border-radius: 10px !important;
}

header{
    margin-top: 200px;
    margin-bottom: 1.5%;
    font-size: 36px !important;
    font-weight: 600;
    text-shadow:  0 7px 6px #000;
    text-align: center;
}

.reset-form{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}

.reset-form label{
    padding-left: 10px;
    padding-bottom: 15px;
}

input[type = 'email']{
    appearance: none;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: #fdfeff;
    width: 400px;
    height: 34px;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 2px #000;
}

input[type = 'email']:focus{
    box-shadow: 2px 2px 5px #108b49;
}

.reset-btn{
    display: flex;
    justify-content: center;
}

.reset-button{
    margin-top: 8%;
    box-shadow: 0 2px #000 !important;
    font-size: 18px !important;
    width: 300px !important;
    height: 30px !important;
    border-radius: 10px !important;
}



