.home-btn{
    place-self: left;
    margin-left: 5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 14px !important;
    width: 120px !important;
    height: 40px !important;
    border-radius: 10px !important;
}

header{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 36px !important;
    font-weight: 600;
    text-shadow:  0 7px 6px #000;
    text-align: center;
}

.schedule-form{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 16px;
}

.schedule-form label{
    border: 3px solid red;
    padding-left: 10px;
    padding-bottom: 15px;
}


input[type = 'text'], input[type = 'email'], input[type = 'password'], input[type = 'time'], input[type = 'date']{
    appearance: none;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: #fdfeff;
    width: 400px;
    height: 34px;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 2px #000;
}

.input-field{

}

.input-section{
    display: flex;
    flex-direction: row;
}