.home-btn{
    place-self: left;
    margin-left: 5%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.Home-button{
    box-shadow: 0 2px #000 !important;
    font-size: 14px !important;
    width: 120px !important;
    height: 40px !important;
    border-radius: 10px !important;
}

header{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 36px !important;
    font-weight: 600;
    text-shadow:  0 7px 6px #000;
    text-align: center;
}

.schedule-form{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}

.schedule-form label{
    padding-left: 10px;
    padding-bottom: 3px;
}


input[type = 'text'], input[type = 'email'], input[type = 'password'], input[type = 'time'], input[type = 'date']{
    appearance: none;
    outline: none;
    border: none;
    font-family: "Inter", "Times New Roman", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    background-color: #fdfeff;
    width: 400px;
    height: 34px;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 2px #000;
}



textarea{
    appearance: none;
    outline: none;
    border: none;
    font-family: "Inter", "Times New Roman", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    background-color: #fdfeff;
    width: 450px;
    height: 250px;
    resize: none;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 2px #000;
}

input[type = 'text']:focus , input[type = 'email']:focus, input[type = 'password']:focus, input[type = 'time']:focus, input[type = 'date']:focus, textarea:focus{
    box-shadow: 2px 2px 5px #108b49;
}

input[type='radio'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    background-color: #fdfeff;
    box-shadow: 0 0 5px #999;
    transition: box-shadow 0.3s ease;
}

  
 input[type='radio']:before {
    content: '';
    display: block;
    margin: 3.1px auto;
    width: 60%;
    height: 60%;
    border-radius: 55%;
}
  
input[type='radio']:checked:before {
    background: #108b49;
}


.radio{
    display: flex;
    flex-direction: row;
}

.first{
    padding-top: 6px;
}

.second{
    padding-bottom: 10px;
}

.input-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

#ps-section{
    width: 565px;
    display: flex;
}

#Add-info{
    padding-top: 10px;
    justify-content: left;
}



.schedule-btn{
    display: flex;
    justify-content: center;
}

.schedule-button{
    margin-top: 8%;
    box-shadow: 0 2px #000 !important;
    font-size: 18px !important;
    width: 300px !important;
    height: 30px !important;
    border-radius: 10px !important;
}